/*zerar margem e espaçamento*/
*{
    margin: 0;
    padding: 0;
}

/*alterando o tipo e o tamanho da fonte*/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/*alteral itrens da lista do menu,*/
.menu li{
    position: relative; /*O item fica posicionado em relação a posição normal*/
    float: left; /*O item deve flutuar a esquerda*/
    border: 1px solid #c0c0c0; /*desenha borda de espessura 1px com traço solidona cor cinza*/
    list-style: none; /*apaga o marcador da lista*/
}

/*alteral a aparencia dos links*/
.menu li a{
    text-decoration: none; /*remove o traço abaixo do link*/
    color: #333; /*altera a cor da fonte do link*/
    padding: 5px 10px; /*espaçamento interno acima e abaixo de 5px direita e esquerda 10px*/
    display: block; /*exibição em blocos*/
}

/*muda a aparencia dos itens quando o mouse passa sobre eles*/
.menu li a:hover{
    background: #333; /*cor de fundo*/
    color: #fff; /*cor da fonte*/
}

/*muda o posicionamento dos itens do menu e do submenu*/
.menu li ul li{
    position: relative; /*posição absolutaem relação ao item atual*/
    top: 25px; /*distancia do topo*/
    left: 0; /*zera a distancia à esquerda*/
    display: flex;/*esconde os itens do submenu*/
}

.menu li ul{
    position: absolute; /*posição absoluta em relação ao  item atual*/
    top: 25px; /*distancia do topo*/
    left: 0; /**/
    display: none;
}

.menu li:hover ul{
    display: block; /*exibe os itens do mundo*/
}

