body {
    font-family: Arial, sans-serif;
    
}

header {
    background: #000;
    padding: 10px 0px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}


.titulo {
    font-family: Arial, sans-serif;
    font-size: 60px;
    color: #cbab63;
    padding: 100px;
    font-weight: 500;
    background-color: #000;
}

.texto{
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding: 5px 7px;
    color: black;
    border: 1px solid black;
}


footer {
    justify-content: end;
    padding: 10px;
    width: 100%;
    background-color: black;
}

.video{
    margin: 20px;
}
