form{ /*formulário*/
   background-color: rgb(255, 255, 255);
   padding: 100px;
   box-shadow: 0 2px 5px ;
   margin: 300px;
   width: 1000px;
   height: 450px;
   justify-items: center;
}

label{ /*rótulo do campo*/
    display: block; /*posicionamento em bloco*/
   /*margem inferior*/
    margin-top: 1px;
    margin-bottom: 5px;
}

input, textarea{ /*campo e area de texto*/
    padding: 50px; /*espaçamento interno 10px*/
    border: 1px dashed;
}

textarea{
    height: 120px; /*altura da area de texto*/
}

button{
    background-color: rgb(8, 8, 8); /*cor de fundo*/
    color: white; /*cor da fonte*/
    padding: 12px 20px; /*12px altura, 20px laterais*/
    border: none; /*sem borda*/
    cursor: pointer; /*altera o cursor do mouse*/
}

button:hover{/*mouse sobre o botão*/
    background-color: #474747; /*altera a cor de fundo do botão*/
}


body {
    font-family: Arial, sans-serif;
}

header {
    background: #000;
    padding: 10px 0px;
    
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    
}

textarea{
    height: 50px;
}

footer {
    justify-content: end;
    padding: 10px;
    width: 99%;
    background-color: black;
    color: white;
    text-align: center;
}